/* BODY */

body
{
	background-color: black;
	margin:0 auto;
	height:100%;
	width:100%;
	background:url("bg1.jpg") center top repeat;
	/*background:url(bg1.jpg) #000 center top no-repeat;*/
	overflow:hidden;
}
#day
{
	margin-left:150px;
	width: 600px;
	overflow: hidden;
}
#day_entry
{
	cursor:hand;
	background: rgba(0,0,0,0.333);
	border-radius:20px;
	font-size:16px;
	height:40px;
	width: 40px;
	overflow:hidden;
/*	float:right;*/
}
#day_entry:hover
{
	cursor:hand;
	color:yellowgreen;
}
#time
{
	width:120px;
	overflow:hidden;
	margin-right:10px;
}
#time_entry
{
	cursor:hand;
	background: rgba(0,0,0,0.333);
        border-radius:20px;
	font-size:16px;
	color: black;
	width:50px;
	overflow:hidden;
	float:left;
	
}
#time_entry:hover
{
	color:yellowgreen;
}
section#home
{
	 background:url("back-content.jpg") #000 center top;
	 /*width:100%;*/
	 height:100%;
	 width:946px;
	 margin-top:0px;
	 margin-left:209px;
	 margin-right:250px;
	 padding:100px 0 0; 
	 float:center; 
}
section#contacts
{
	 background:url("back-content.jpg") #000 center top;
	 /*width:100%;*/
	 height:100%;
	 width:946px;
	 margin-top:114px;
	 margin-left:209px;
	 margin-right:250px;
	 padding:100px 0 0; 
	 float:center; 
}
section#about-us
{
	 background:url("back-content.jpg") #000 center top;
	 /*width:100%;*/
	 height:100%;
	 width:946px;
	 margin-top:114px;
	 margin-left:209px;
	 margin-right:250px;
	 padding:100px 0 0; 
	 float:center;  
}
#ptext
{
	padding: 0px 100px 0;
}
#htext
{
	width: 200px;
	background: rgba(0,0,0,0.333);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
	border-radius: 2em;
	color: #983e0c;
	padding: 0px 50px 0;
}

/* LAYOUT */
a,a:link,a:visited
{ 
	color: white; 
	text-decoration:none; 
}
a:hover,a:active
{ 
	color: #983e0c; 
}

h1
{
	color: yellowgreen;
	opacity: 0.75;
	font-size:40px;
	font-family: 'Relex', cursive;
}
p
{
	font-family: 'Lustria', cursive;
	color: rgb(250,200,200);
}
#header 
{
	overflow:hidden;
	width:100%; 
	height:120px;
	background:url("head-bg.png") left bottom repeat-x;
	opacity:0.7;
	position:fixed;
	top:0;
	left:0;
}
#header-text
{
	opacity:1;
	color:white;
	float:right;
	margin-top:30px;
	margin-right:40px;
	position:relative;
	font-size:24px;
	font-family: 'Nunito', sans-serif;
}
